#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#include <behaviors/toggle_io.dtsi> // &tog_io 翻转 LED
#include <behaviors/on_io.dtsi>     // &on_io  点亮 LED
#include <behaviors/off_io.dtsi>    // &off_io 熄灭 LED

/ {
    combos {
        compatible = "zmk,combos";

        // 左板三键同时按（数字区 0 / ↑ / .）进入 BLE 管理层
        desk_l_down {
            bindings = <&mo 1>;
            key-positions = <1 7 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        LETTER {
            bindings = <
&kp LEFT   &kp N0   &kp N1  &kp N4  &kp N7  &kp FSLH
&kp DOWN   &kp UP   &kp N2  &kp N5  &kp N8  &kp LS(STAR)
&kp RIGHT  &kp DOT  &kp N3  &kp N6  &kp N9  &kp MINUS
                    &kp LC(LG(Q))  &kp RET  &kp BSPC  &kp EQUAL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;

            label = "LETTER";
        };

        BLE {
            bindings = <
&trans  &trans  &tog_io 0  &trans  &trans  &bt BT_SEL 0
&trans  &trans  &tog_io 1  &trans  &trans  &bt BT_SEL 1
&trans  &trans  &tog_io 2  &trans  &trans  &bt BT_SEL 2
                &bt BT_CLR_ALL  &bt BT_CLR  &trans  &bt BT_SEL 3
            >;

            label = "BLE";
        };
    };
};
