#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// / {
//     chosen {
//         zmk,physical-layout = &matrix_physical_layout;
//     };
// };

/ {
    combos {
        compatible = "zmk,combos";

        desk_l_down {
            bindings = <&mo 1>;
            key-positions = <25 13 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        LETTER {
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            // |   ESC   |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |    \    |
            // |   TAB   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |    '    |
            // |  SHIFT  |    Z    |    X    |    C    |    V    |    B    | CTRL+A  | CTRL+C  |  |  CTRL+V |  CTRL+X |    N    |    M    |    ,    |    .    |    /    |  R CTRL |
            //                               |   GUI   |   DEL   | RETURN  |  SPACE  | ESCAPE  |  |  RETURN |  SPACE  |   TAB   |   BSPC  |  R ALT  |

            bindings = <
&kp LEFT   &kp N0   &kp N1         &kp N4   &kp N7    &kp FSLH            &kp Y  &kp U  &kp I         &kp O            &kp P     &kp BACKSPACE
&kp DOWN   &kp UP   &kp N2         &kp N5   &kp N8    &kp LS(STAR)        &kp H  &kp J  &kp K         &kp L            &kp SEMI  &kp RETURN
&kp RIGHT  &kp DOT  &kp N3         &kp N6   &kp N9    &kp MINUS           &kp N  &kp M  &kp COMMA     &kp DOT          &kp FSLH  &kp BACKSLASH
                    &kp LC(LG(Q))  &kp RET  &kp BSPC  &kp EQUAL           &mo 0  &mo 0  &kp C_VOL_DN  &kp C_VOLUME_UP
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;

            label = "LETTER";
        };

        BLE {
            bindings = <
&kp Q  &kp Q  &kp Q           &kp Q       &kp Q  &bt BT_SEL 0        &kp Q  &kp Q  &kp Q  &kp Q  &kp Q  &kp Q
&kp Q  &kp Q  &kp Q           &kp Q       &kp Q  &bt BT_SEL 1        &kp Q  &kp Q  &kp Q  &kp Q  &kp Q  &kp Q
&kp Q  &kp Q  &kp Q           &kp Q       &kp Q  &bt BT_SEL 2        &kp Q  &kp Q  &kp Q  &kp Q  &kp Q  &kp Q
              &bt BT_CLR_ALL  &bt BT_CLR  &kp Q  &bt BT_SEL 3        &kp Q  &kp Q  &kp Q  &kp Q
            >;

            label = "BLE";
        };
    };
};
